MODEL_ID="<Placeholder>"
MODEL_API_KEY="<Placeholder>"
BEDROCK_KB_ID="<Placeholder>"

## AWS Memory ID and Summary Strategy ID when memory is required.
MEMORY_ID=""
MEMORY_SUMMARY_STRATEGY_ID=""

CONFIDENT_API_KEY="<Placeholder>"
CONFIDENT_TRACE_VERBOSE=0
CONFIDENT_TRACE_FLUSH=1
OPENAI_API_KEY="<Placeholder>"
